{
  "$schema": "https://skills.sh/schemas/skills.json",
  "skills": [
    {
      "name": "mini-harness-en",
      "remote": "HYX-LHJ/mini-harness",
      "skill": "mini-harness-en"
    },
    {
      "name": "mini-harness-zh",
      "remote": "HYX-LHJ/mini-harness",
      "skill": "mini-harness-zh"
    }
  ]
}
